body{
    width: 100%;
    max-width: 99%;
    overflow-x: hidden;
}
#orderHead{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    background-color: #e3d6b4;
}
#orderHead>div:nth-child(2)>a>h4{
    border: 0.4px solid black;
    background-color: #e78471!important ;
    color: white;
    padding: 5px;
}
#orderHead>div:nth-child(2)>a{
    text-decoration: none;
}
#nav{
    width: 100%;
    height: 52px;
    background-color: #fff;
    margin-top: 5px;
}
#nav>div>div>div:first-child>a>img{
    width: 100%;
    height: 100%;
}
#nav>div{
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#nav>div>div:last-child{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: right;
    gap: 20px;
    align-items: center;
}
#nav>div>div>div>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#nav>div>div:last-child>div{
    /* height: 40px; */
    padding: 11px;
    border: 1px solid black;
}
#nav>div>div>div>a>img{
   width: 18px;
   height: 16.2px;
   margin: auto;
}
.fa-angle-right{
    color: black;
    margin-left: 2px;
    font-size: 13px;
}
#footer{
    width: 100%;
    background-color: #414042;
    color: white;
}
#footer>div:first-child{
display: grid;
grid-template-columns: repeat(5,19%);
justify-content: space-evenly;

}
#footer>div:first-child>div>a{
    display: grid;
    width: 100%;
    height: 30px;
    text-decoration: none;
    color: white;
}
#footer>div:last-child{
    text-align: center;
    padding: 5px;
    height: 110px;
}
#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    max-width:100%;
    background-color: #f2e9d1;

}
#container>div:first-child{
    margin-left: 20px;
    display: flex;
}
#container>div:first-child>p>a{
    padding: 10px;
    text-decoration: none;
    color: rgb(109, 107, 107);
}
#container>div:last-child{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
   
}
#container>div:last-child>p>a{
    text-decoration: none;
    color: black;
 }
#container>div:last-child>p{
   text-decoration: none;
   padding: 10px;
   border: 0.6px solid rgb(107, 104, 104);
   background-color: white;
}
#award_section>div{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    height: 578px;
}
#award_section{
    width: 100%;
    height: 600px;
    background-color: #FFFBF0;
}
#award_section>h1{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
#award_section>div>div>img{
   width: 293px;
   height: 396px;
}
body{
    font-family: sans-serif;
}
#home_acq{
    position: relative;
    max-width: 100%;
    background: url(https://cdn.shopify.com/s/files/1/0037/7690/5283/files/vx_banner_home_d.jpg?v=1609309319)no-repeat right bottom;
    background-size: contain;
    background-position: center center;
    height: 540px;
}
#home_acq>div>div:nth-child(1){
    width: 440px;
    height: 100px;
    padding-top: 80px;
    color: #414042;
}
#home_acq>div{
    margin-left: 30px;
}
#home_acq>div>div:nth-child(2){
    width: 300px;
    height: 52px;
    padding-top: 20px;
    color: #414042;
}
#home_acq>div>div:nth-child(3){
    width: 220px;
    height: 100px;
    padding-top: 20px;
    color: #414042;
}
#home_acq>div>div:nth-child(3)>div>a{
   text-decoration: none;
   color: white;
}
#home_acq>div>div:nth-child(3)>div,.btn{
    border: 1px solid black;
    width: 220px;
    height: 48px;
    background-color: #E78471;
    text-align: center;
    margin-top: 5px;
 }
 #home_acq>div>div:nth-child(3)>div>a>h4{
  margin-top: 14px;
  font-size: 18px;
 }
 #home_acq>div>div:nth-child(3)>div>a>h4>i{
     color: white;
     margin-left: 5px;
     font-size: 15px;
 }
 #freebie_offer{
    position: relative;
    max-width: 100%;
    background: url(https://cdn.shopify.com/s/files/1/0037/7690/5283/files/vxoilbackfreebie.png?v=1632221135)no-repeat right bottom;
    background-size: contain;
    background-position: center center;
    height: 465px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#freebie_offer>div:first-child>img{
    width: 465px;
    height: 465px;
    padding-top: 30px;
}
#freebie_offer>div:last-child{
    width: 465px;
    height: 180px;
    padding-top: 70px;
    padding-left: 30px;
}
.btn{   
    width: 220px;
    height: 48px;
    background-color: #e78471;
    border: 1px solid black;
}
.btn>a{
    text-decoration: none;
    color: white;

}
.btn>a>h4{
    margin-top: 14px;
    font-size: 18px;
}
.btn>a>h4>i{
    color: white;
     margin-left: 5px;
     font-size: 15px;
}
#Customised-hair-content{
    width: 100%;
}
#Customised-hair-content>div{
    width: 900px;
    display: flex;
    height: 370px;
    align-items: center;
    margin: auto;
}
#Customised-hair-content>div>div:last-child>img{
    width: 430px;
    height: 286px;
}
.color{
    color: #414042;
    font-size: 35px;
    font-weight: lighter;
}
.font-size{
    font-size: 16px;
}

#product-display{
    width: 100%;
    display: flex;
    justify-content: left;
    color: #414042;
    align-items: center;
}
.mbunderline::after{
    margin-bottom: 3rem!important;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    margin-top: 10px;
    background: rgba(231,132,113,1);
    max-width: 45px;
    width: 100%;
}
#product-display>div:last-child>h2{
    font-size: 35px;
    width: 418px;
}
#product-display>div:last-child{
    padding-left: 30px;
}
#product-display>div:last-child>p{
    width: 418px;
    font-size: 16px;
}
#vedix-step{
    background-color: #FFFBF0;
    width: 100%;
}
#vedix-step>div:first-child>h3{
    font-size: 35px;
    height: 130px;
    padding-top: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.vedix-box{
    width: 100%;
    max-width: 100%;
    display: flex;
    color: #414042;
}
.vedix-font{
    font-size: 100px;
    border-right: 1px solid #E78471;
    color: #E78471;
    opacity: 0.3;
}
#append{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #414042;
}
#append>div:first-child>img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 15px solid #f2e9d1;
}
#append>div:first-child{
   width: 30%;
}
#append>div:last-child{
    width: 40%;
    opacity: 0.9;
 }
 #move{
     display: flex;
     justify-content: right;
     align-items: center;
     gap: 10px;
     padding-right: 30px;
 }
 .arr{
     cursor: pointer;
 }
#slide-part>div:nth-child(1)>h2{
    margin-left: 35%
}

#vedix-Box1{
    width: 100%;
    max-width: 100%;
    padding: 50px 15px 0px; 
    margin: 0px 10%;
}
#vedix-Box2{
    width: 100%;
    max-width: 100%;
    padding: 50px 15px 0px;
     margin: 0px 20%;
}
#vedix-Box3{
    padding: 50px 15px 0px; 
    margin: 0% 40%;
}
#vedix-Box2>div:last-child>p{
    max-width: 78%;
    width: 100%;
    text-align: justify;
    
}
#vedix-Box3>div:last-child>h6{
    width: fit-content;
    text-align: justify;
}

 @media only screen and (min-width: 421px) and (max-width: 720px) {
    #orderHead{
        display: grid;
        height: auto;
        width: 100%;
    }
    #nav{
        height: auto;
    }
    #nav>div{
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    #nav>div>div:last-child{
        width: 100%;
        display: grid;
        padding-top: 10px;
        justify-content: left;
    }
    #footer>div:first-child{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        
        }
        #home_acq>div>div:nth-child(1){
            width: 100%;
            height: 100%;
            padding-top: 30px;
            color: #414042;
        }
        #home_acq{
            height: fit-content;
        }
        #nav>div>div>div:first-child>a>img{
           display: block;
           justify-content: center;
           align-items: center;
        }
        #freebie_offer{
            height: fit-content;
        }
        #freebie_offer>div:first-child>img{
            display: none;
        }
        #freebie_offer>div:last-child{
            padding-left: 10px;
        }
        #Customised-hair-content>div{
            width: 100%;
            display: block;
            height: fit-content;
            align-items: center;
            padding-left: 10px;
        }
        #Customised-hair-content>div>div:last-child>img{
            width: 100%;
            height: fit-content;
        }
        #Customised-hair-content{
            margin-top: 130px;
        }
        #product-display{
            width: 100%;
            flex-wrap: wrap;

        }
        #product-display>div:first-child>img{
            width: 100%;

        }
        #product-display>div:last-child>h2{
            width: fit-content;
        }
        #product-display>div:last-child{
            padding-left: 10px;
        }
        #product-display>div:last-child>p{
            width: fit-content;
            font-size: 16px;
        }
        #vedix-step>div:first-child>h3{
            justify-content: left;
            align-items: left;
            
        }
        #footer{
            margin-top: 1000px;
        }
        #append{
            width: 100%;
            display: block;
            justify-content: center;
            align-items: center;
        }
        #append>div:first-child{
            width: 100%;
            display: block;
         }
         #append>div:first-child{
            margin-left: 30%;
            margin-bottom: 20%;
         }
         #append>div:last-child{
             width: 100%;
             opacity: 0.9;
             display: block;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
          }
          #slide-part>div:nth-child(1)>h2{
            margin-left: 10px
        }
        #container{
            position: relative;
            display: block;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin-top: 20px;
        
        }
        #container>div{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        #container>div:first-child{
            width: 100%;
            display: block;
            justify-content: center;
            height: 100%;
        }
        #container>div:last-child{
            display: block;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 20px;
        }
        #container>div:last-child>p{
           display: block;
           justify-content: center;
           align-items: center;
           
        }
        #vedix-Box1{
            width: fit-content;
            padding: 50px 15px 0px; 
            margin: 0px 10px;
        }
        #vedix-Box1>div:last-child>h6{
            width: fit-content;
            text-align: justify;
            padding-right: 10px;
        }
        #vedix-Box1>div:last-child>p{
            width: fit-content;
            text-align: justify;
            padding-right: 10px;
        }
        #vedix-Box2{
            width: fit-content;
            padding: 50px 15px 0px;
             margin: 0px 10px;
        }
        #vedix-Box3>div:last-child>p{
            width: fit-content;
            text-align: justify;
           
        }
        #vedix-Box2>div:last-child>h6{
            width: fit-content;
            text-align: justify; 
        }
        #vedix-Box3{
            width: fit-content;
            padding: 50px 15px 0px; 
            margin: 0px 10px;
        }
        #vedix-Box2>div:last-child>p{
            width: fit-content;
            text-align: justify;
            
        }
        #vedix-Box3>div:last-child>h6{
            width: fit-content;
            text-align: justify;
        }
}

 @media only screen and (min-width: 0px) and (max-width: 420px) {
    #orderHead{
        display: grid;
        justify-content: center;
        height: auto;
        padding-left: 10px;
    }
    #nav>div{
        width: 100%;
        height: auto;
        display: block;
        justify-content: left;
    }
    #nav>div>div:last-child{
        width: 100%;
        display: block;
        padding-top: 10px;
        justify-content: left;
        gap: 20px;
        align-items: center;
    }
    #nav>div>div>div:first-child>a>img{
        display: block;
        align-items: center;
        width: 50%;
        height: 50%;
    }
    #nav>div>div>div:first-child>a>img{
        display: block;
        justify-content: center;
        align-items: center;
     }
    #footer>div:first-child{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding-top: 10px;
        
        }
        #home_acq>div>div:nth-child(1){
            width: 100%;
            height: 100%;
            padding-top: 200px;
            color: #414042;
        }
        #home_acq{
            height: fit-content;
        }
        #freebie_offer>div:first-child>img{
            display: none;
        }
        #freebie_offer>div:last-child{
            display: block;
            justify-content: left;
            padding-left: 10px;
        }
        #freebie_offer{
            height: fit-content;
        }
        #Customised-hair-content>div{
            width: 100%;
            display: block;
            height: fit-content;
            align-items: left;
            justify-content: left;
            padding-left: 10px;
        }
        #Customised-hair-content>div>div:last-child>img{
            width: 100%;
            height: fit-content;
            display: block;
            align-items: left;
            justify-content: left;
        }
        #Customised-hair-content{
            margin-top: 160px;
        }
        #product-display{
            width: 100%;
            display: block;
            padding-top: 20px;
            justify-content: center;

        }
        #product-display>div:first-child>img{
            width: 100%;

        }
        #product-display>div:last-child>h2{
            width: fit-content;
        }
        #product-display>div:last-child{
            padding-left: 10px;
        }
        #product-display>div:last-child>p{
            width: fit-content;
            font-size: 16px;
        }
        #vedix-step>div:first-child>h3{
            justify-content: left;
            align-items: left;
            
        }
        #vedix-step>div:last-child{
            display: block;
            justify-content: left;
            align-items: left;
            padding-left: 10px;
        }
        #footer{
            margin-top: 1000px;
        }
        #append{
            width: 100;
            display: block;
        }
        #append>div:first-child{
            width: 100%;
            display: block;
            justify-content: center;
            
         }
         #append>div:first-child{
             margin-left: 16%;
            margin-bottom: 20%;
         }
         #append>div:last-child{
             width: 100%;
             opacity: 0.9;
             display: block;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
          }
          #slide-part>div:nth-child(1)>h2{
            margin-left: 10px
        }
        #container{
            position: relative;
            display: block;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin-top: 20px;
    /* justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: #f2e9d1; */
        
        }
        #container>div:first-child{
            width: 100%;
            display: block;
            justify-content: left;
            height: 100%;
        }
        #container>div{
           padding-top: 20px;
           padding-bottom: 20px;
        }
        #container>div:last-child{
            display: block;
            max-width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 20px;
          
        }
        #container>div:last-child>p{
           display: block;
           justify-content: center;
           align-items: center;
        }
        #vedix-Box1{
            padding: 50px 15px 0px; 
            margin: 0px 10px;
        }
        #vedix-Box1>div:last-child>h6{
            width: fit-content;
            text-align: justify;
            padding-right: 10px;
        }
        #vedix-Box1>div:last-child>p{
            width: fit-content;
            text-align: justify;
            padding-right: 10px;
        }
        #vedix-Box2{
            width: 100%;
            padding: 50px 15px 0px;
             margin: 0px 10px;
        }
        #vedix-Box3>div:last-child>p{
            width: fit-content;
            text-align: justify;
           
        }
        #vedix-Box2>div:last-child>h6{
            width: fit-content;
            text-align: justify; 
        }
        #vedix-Box3{
            width: 100%;
            padding: 50px 15px 0px; 
            margin: 0px 10px;
        }
        #vedix-Box2>div:last-child>p{
            width: fit-content;
            text-align: justify;
            
        }
        #vedix-Box3>div:last-child>h6{
            width: fit-content;
            text-align: justify;
        }
 }
