#product_info{
    display:flex;
    width:94%;
    gap:20px;
    /* border:1px solid lightcoral; */
    
}

#product_info>div{
    /* border:1px solid lightcoral; */
    width:45%;
    border-radius: 20px;
    margin-left:90px;
    background-color:white;
    padding:30px;
    padding-bottom: 30px;

}
#product_info>#prod_info{
    width:100%;
    padding:40px
}

#overview{
    width:95%;
    /* border:1px solid lightseagreen; */
    background-color:whitesmoke;
}
#page{
    margin-left: 9%;
    padding-top:3%
}
#imglist{
    display:flex;
    margin: :auto;
    /* margin-left:160px; */
}
#imglist>img{
    width:80px;
    height:80px;
    
}

#prodImg>img{
    /* padding-top:50px; */
    width:400px;
    height: 450px;

}
/* #prodImg{
    margin-left:80px;
} */

body {
    font-family: Source Sans Pro,sans-serif;
    font-size: 16px;
    color: #414042;
    line-height: 1.5;
    
}

h3{
    color:lightcoral;
}
s{
    color:gray
}
#prod_info{
    width:100%;
}

#review{
    background-color:orange;
    width: 50px;height: 20px;
    border:1px solid lightgray;
}

#btns>button{
    width:150px;
    height:40px;
    border:none;
    font-size:16px
}
#btns>button:nth-child(1)
{
    background-color:lightcoral;
    color: cornsilk;
}
#btns{
    display: flex;
    gap:20px;
    margin-left: 10%;
}
#sec1,#sec2,#sec3{
    margin-top:20px;
    display: flex;
    justify-content:space-between;
    background-color:whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid black; */
}
#sec1>p,#sec2>p,#sec3>p{
    margin:8px;
}
h2{
    color:lightcoral;
}
#mydiv1,#mydiv2,#mydiv3{
    display:none;
    background-color:whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: justify;;
}
#mydiv1,#mydiv2,#mydiv3{
    display:none;
}
#mydiv2>div,#mydiv3>div{
    display:flex;
    width: 100%;
}
/* .mydiv3{
    margin-top:80px
} */
#mydiv2>div>img,#mydiv3>div>img{
    width:80px;
    height:90px;
}

#comments{
    background-color:antiquewhite;
    width:100%;
    font-size: 20px;
    padding: 50px;
    gap:10px;
    margin-top: 25px;
    
}
#main{
    width:80%;
    margin: auto;
    margin-top:50px;
    font-size: 20px;
}
#main>input{
    font-size:18px;
    width: 80%;
    height:25px;
    margin-top:10px;
}
label{
    padding-top: 30px;
}
textarea{
    width: 80%;
    height: 40px;

}
#main>#Sbtn{
    background-color:lightcoral;
    width: 120px;
    height: 40px;
    font-size:21px;
    color:whitesmoke;

}

#commentsreview{
    width: 88%;
    margin: auto;
}
p+span{
    background-color:orange;
    width:40px;
}

#commentsreview>button{
    width: 10%;
    border-radius: 10px;
}

#suggest{
    display:flex;
    gap:10px
}
#suggest>div{
    width: 23%;
}
#suggest>div>img{
    width:100%;
    height:250px;
}
#suggest>div>button{
    width: 70%;
    margin: auto;
   
    background-color:lightcoral;
    height:20px
}
a{
    text-decoration: none;
    color:lightcoral;

}



 
 

