.frame>div>img{
    background-color:lightgray;
    height: 90px;
    width: 90px;
    border-radius:45px
}

.frame{
    display:flex;
    gap:80px;
    text-align:center;
    margin:auto;
}
.frame>div:hover,button:hover{
    cursor: pointer;
}
.frame>div>img:hover{
    background-color:lightsteelblue;
}
#btn:hover{
    background-color: lightsalmon ;
}
#hair1{
    width: 35%; 
    /*border: 1px solid black; */
    margin: auto;
    padding-bottom:10px;
}
#vedix,#first,#second,#third,#fourth{
    text-align:center;
}
#lines{
    display:flex;
    margin-top: -20px;
}
hr{
    width:33%;
    padding-left:4px;
    border-radius:3px
}
hr#qo{
    border: 3px solid green;
    border-radius: 5px;
    width:220px;
 }
 #vedix+p{
     font-size: 12px;text-align:right
 }
 #second>hr,#third>hr,#fourth>hr{
     width: 100%;
 }
 #btn{
     margin-left: 25%;
     width:200px;
     height:40px;
     font-size: 25px;
     background-color:lightcoral;
     border:none;
     border-radius:10px;
     color:azure;
     margin-top:20px
 }