
.frame{
    display:flex;
    gap:40px;
    text-align:center;
    margin:auto;
}
#hair1{
    width: 45%; 
    /*border: 1px solid black; */
    margin: auto;
    padding-bottom:10px;
}
#vedix,#first,#second,#third,#fourth{
    text-align:center;
    margin:auto;
}
#second>input{
    background-color:lightgray;
    width: 98%;
    height:40px;
    border:none;
}
#lines{
    display:flex;
    margin-top: -20px;
}
hr{
    width:32%;
    padding-left:4px;
    border-radius:3px
}
hr#qo,#qt,#qth{
    border: 3px solid green;
    border-radius: 5px;
    width:220px;
 }
 #vedix+p{
     font-size: 12px;text-align:right
 }
 #second>hr,#third>hr,#fourth>hr,#fifth>hr,#sixth>hr{
     width: 100%;
 }
 #third>.frame>button{
     width:100px;
     height:30px;
     background-color:white;
     border: none;
     border:1px solid lightgray;
    border-radius:3px;
 }
 #fourth>.frame>button{
    
    height:30px;
    background-color:white;
    border: none;
    border-width: thin;
    border:1px solid lightgray;
    border-radius:3px;
}
#fourth>.frame{
    margin-left:38%;
}
 .btn{
     margin-left: 25%;
     width:200px;
     height:40px;
     font-size: 25px;
     background-color:lightcoral;
     border:none;
     border-radius:10px;
     color:azure;
     margin-top:20px
 }
 #btns{
     display:flex;
     justify-content:space-between;
     margin-left: -150px;
 }