#scienceskinp{
  /* border: 1px solid black; */
  width: 1000px;
  margin: auto;
  height: 350px;
  display: flex;
}
#scienceskin>div{
  /* border: 1px solid pink; */
  height:380px ;
  width: 500%;
}

hr{
width: 60px;
height: 3px;  
margin-left: 0;
background-color: #e78471; 
  
}
.scip{
/* border: 1px solid black; */

font-family: sans-serif;
line-height: 20px;
width: 606px;
font-size: 16px;
color: #414042;
}
div>h1{
margin-top: 40px;
}

.sciimg1{
width: 350px;
height: 300px;
margin-left: 20px;
margin-top: 30px;
}

#scienceskindown{
/* border: 1px solid black; */
height: 1000px;
background-color: #fffbf0;
}
h2{
margin-left: 250px;
font-size: 28px;
color: #414042;
font-family: sans-serif;

font-weight: 600;
padding-top: 40px;
}
.hr2{
margin-left: 250px; 
}
#smain{
/* border: 1px solid black; */
  width: 1000px;
  margin: auto;
  height: 750px;
  display: flex;
}

#smain>div{
/* border: 1px solid pink; */
  height:650px ;
  width: 500%;
}

h3{    font-size: 22px;
margin-bottom: 0.5em;
font-family: sans-serif;
}

div>p{
font-family: sans-serif;
width:575px;
font-size: 16px;
letter-spacing: .48px;
line-height: 26px;
margin-bottom: 10px;
}
#sskinright>img{
height: 550px;
width: 350px;
margin-top: 90px;
margin-left: 60px;
}

.scibutton{
background: #e78471 0 0 no-repeat padding-box;
/* border: 1px solid #414042; */
letter-spacing: .5px;
color: #fff;
width: 200px;
height: 40px;
border-radius: 2px;
font-weight: 600; 
font-size: 16px; 
margin-left: 250px;

}

.scibutton:hover{

background-color: #fff;
color: #e78471;
}
