#sciencehairpage{
  /* border: 1px solid black; */
  width: 1100px;
  margin: auto;
  height: 550px;
  display: flex;
}

#sciencehairpage>div{
  /* border: 1px solid black; */
  width: 500px;
 
  height: 550px;
}

hr{
width: 60px;
height: 3px;  
margin-left: 0;
background-color: #e78471; 
}

.science>p{
  font-family: sans-serif;
  width:575px;
 font-size: 16px;
 letter-spacing: .48px;
 line-height: 40px;
margin-bottom: 10px;
}
/* .scileft{
  width: 700px;
} */

.sciright{
  height:500px;
  width: 550px;
  margin-left: 40px;
  margin-top: 40px;
}
#seth3{
  width: 350px;
}
.scibutton{
background: #e78471 0 0 no-repeat padding-box;
/* border: 1px solid #414042; */
letter-spacing: .5px;
color: #fff;
width: 200px;
height: 40px;
border-radius: 2px;
font-weight: 600; 
font-size: 16px; 
margin-left: 260px;

}

.scibutton:hover{

background-color: #fff;
color: #e78471;
}
.scileft{
margin-top: 50px;
}

.scienceskindown{
height: 950px;
background-color: #fffbf0;
}
#sciencediv1{
height: 930px;
/* border: 1px solid black; */
width:1100px;
margin: auto;
}
#ssdown{
/* border: 1px solid black; */
  width: 1100px;
  margin: auto;
  height: 550px;
  display: flex;
}
#ssdown>div{
  /* border: 1px solid black; */
  width: 600px;
  height: 550px;
}
#scibutton1{
background: #e78471 0 0 no-repeat padding-box;
/* border: 1px solid #414042; */
letter-spacing: .5px;
color: #fff;
width: 200px;
height: 40px;
border-radius: 2px;
font-weight: 600; 
font-size: 16px; 

display: block;
margin-left: auto;
margin-right: auto;


}
#scibutton1:hover{
color: #e78471;

background-color: #fff;



}
#sci2>img{
margin-top: 30px;
height: 400px;
height: 460px;
margin-left: 20px;
}